.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-left: 106px;
    width: 423px;
}
.menu li {
    float: left;
  }
.menu  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu li a:hover{
    background-color: white;
    color:black;
}

body{
    background-color: #dfe3ee !important;
}

header{
    background-color: 	#3b5998;
    height: 80px;
    position: relative;
    z-index: 5;
}
.logo{
    width: 100px;
    height:50px;
    position: absolute;
    z-index: 20;
    margin-top: 0.3%;

}